<h1>Anagrams and Antigrams</h1>
<form action="/result">
  <div class="form-group">
     <label for="input">Enter two words that you think are anagrams
     </label>
     <input id="input1" name="input1" class="form-control" type="text">
     <input id="input2" name="input2" class="form-control" type="text">
  </div>
  <button type="submit" id="send" class="btn-success">Send</button>
</form>
